
<section id="ctahome">
    <div class="container">

        <div class="row">
            <div class="col-md-2 cta-contents">

                <p class="fa fa-handshake-o fa-5x"></p>
            </div>

                <div class="col-md-7 cta-contents">
                    <h1 class="cta-title">Rejoignez nos équipes</h1>
                    <div class="cta-desc">
                        <p>Describe the action here.</p>

                    </div>
                </div>
                {#<div class="col-md-3 cta-button">#}
                    {#<a href="#" class="btn  btn-success">Go for It!</a>#}
                    {#<button type="button" class="btn btn-success btn-lg btn-block">Success</button>#}
                {#</div>#}
            <div class="col-md-3 text-center ">
                <button class="btn btn-success btn-lg btn-block">Next Step!</button>
            </div>
            </div>
        </div>
    </div>
</section>
