
<!-- footer -->

<footer class="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                <h3 > Lorem Ipsum </h3>
                <ul class="list">
                    <li><a href="#"> Lorem Ipsum </a></li>
                    <li><a href="#"> Lorem Ipsum </a></li>
                    <li><a href="#"> Lorem Ipsum </a></li>
                    <li><a href="#"> Lorem Ipsum </a></li>
                </ul>
            </div>
            <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                <h3> Lorem Ipsum </h3>
                <ul class="list">
                    <li><a href="#"> Lorem Ipsum </a></li>
                    <li><a href="#"> Lorem Ipsum </a></li>
                    <li><a href="#"> Lorem Ipsum </a></li>
                    <li><a href="#"> Lorem Ipsum </a></li>
                </ul>
            </div>
            <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                <h3> Lorem Ipsum </h3>
                <ul class="list">
                    <li><a href="#"> Lorem Ipsum </a></li>
                    <li><a href="#"> Lorem Ipsum </a></li>
                    <li><a href="#"> Lorem Ipsum </a></li>
                    <li><a href="#"> Lorem Ipsum </a></li>
                </ul>
            </div>
            <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                <h3> Lorem Ipsum </h3>
                <ul class="list">
                    <li><a href="#"> Lorem Ipsum </a></li>
                    <li><a href="#"> Lorem Ipsum </a></li>
                    <li><a href="#"> Lorem Ipsum </a></li>
                    <li><a href="#"> Lorem Ipsum </a></li>
                </ul>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                <h3> Lorem Ipsum </h3>
                <ul class="list">
                    <li>
                        <div class="input-append newsletter-box text-center ">
                            <input type="text" class="full text-center" placeholder="Email ">
                            <button class="btn  btn-primary" type="button"> Lorem ipsum <i
                                        class="fa fa-long-arrow-right"> </i></button>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
    </div>

    <div class="row ">
        <div class="col-md-4">
            <span class="copyright">Copyright &copy; European Trade 2017</span>
        </div>
        <div class="col-md-4">
            <ul class="list-inline social-buttons">
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-inline quicklinks">
                <li><a href="#">Privacy Policy</a>
                </li>
                <li><a href="#">Terms of Use</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</footer>
<!--/.footer-->
